[Desktop Entry]
Exec=/opt/poseidon-browser-git/poseidon %U
Path=/opt/poseidon-browser-git
Terminal=false
Type=Application
Icon=/opt/poseidon-browser-git/icons/poseidon-logo.svg
StartupNotify=true
Categories=Network;GTK;

Name=Poseidon
Comment=A fast, minimal and lightweight browser
Comment[de]=Ein schneller, minimaler und leichter Browser
Comment[es]=Un navegador rápido, minimalista y ligero
Comment[fr]=Un navigateur rapide, minimal et léger
Comment[it]=Un browser veloce, minimale e leggero
